

    body,
    html {
    font-family: 'Advent Pro', 'Raleway', sans-serif;
    font-size: 20px;
    margin: 0;
    background: #000000;
    box-sizing: border-box;
    position: relative;
  }

  /*Стили header*/
  .header {
    width: 100%;
    height: 130px;
    background-color: #020013;
    background-color: var(--bg-color);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    position: sticky;
    opacity: 0.8;
    border-radius: 40px;
    border: 2;
  }
  .logo{
    width: 150px;
    height: 130px;
  }
  .top_panel {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin-right: auto;
    margin-left: auto;
    
  }
  
  .logoPanel {
    display: flex;
    flex-direction: row;
    align-items:center;
  }
  
  .logoPanel p {
    margin-left: 20px;
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
  }
  .add{
    position: relative;
    width: 40px;
    height: 40px;
    background-image: url('images/add.png');
    background-color: var(--bg-color);
    background-size: cover;
    border: none;
  }
  .update {
    border:none;
    position: relative;
    width: 50px;
    height: 50px;
    background-image: url('images/reload.gif');
    background-color: var(--bg-color);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50px;
    opacity: 0.9;
    margin:20px 20px 0 60px;
    box-shadow:  0 0 7px #fff, 0 0 10px #fff,0 0 21px #fff,
    0 0 42px rgb(0, 153, 255),
    0 0 82px #0066ff,
    0 0 92px #0066ff,
    0 0 102px #0066ff,
    0 0 151px #0066ff;
  }
  /*Стили основного контента*/
  .main-content {
    min-height: 100%;
  }

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    margin:40px;
    position: relative;
    height: 100%;
  }
  .cat_card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: 2px solid rgb(49, 49, 49);
    border-radius: 10px;
    padding: 15px;
  }

  .cat_card:hover {
    /*наведение на карточку*/
    border: 2px solid var(--bg-color);
    box-shadow:  0 0 7px #fff, 0 0 10px #fff,0 0 21px #fff,
    0 0 42px rgb(0, 153, 255),
    0 0 82px #0066ff,
    0 0 92px #0066ff,
    0 0 102px #0066ff,
    0 0 151px #0066ff;
  }
  .cat_card_image {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    position: relative;
  }
  .cat_card_image > img {
    /*картинка внутри карточки*/
    width: inherit;
    height: inherit;
    border-radius: 20px;
  }
  .cat_card p {
    margin: 0;
    padding: 0;
    line-height: 2;
  }
  .cat_description{
    font-size: 16px;
    color: #b4b4b4;

  }
  .cat_name {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color:#ffffff;
  }
  .cat_favorite {
    display: none;
}
  .cat_favorite.activity {
    position: absolute;
    display: block;
    margin-left: 25%;
    margin-right: 30px;
    cursor: pointer;
  }

  .cat_favorite.activity > img {
    width: 60px;
    height: 60px;
}
  .cat_card_btns {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .cat_card_btns > button {
    background-color:#fff;
    font-weight: 600;
    width: 95px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 10px;
  }
  .cat_card_btns > button:hover {
    background-color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    box-shadow:  0 0 7px #000000, 0 0 10px #000000,0 0 21px #000000,
    0 0 42px rgb(0, 153, 255),
    0 0 82px #0066ff,
    0 0 92px #0066ff,
    0 0 102px #0066ff,
    0 0 151px #0066ff;
  }
  /* Модальное окно - добавить кота"*/
  .create_edit_modal_form {
    display: none;
  }
  .active {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 550px;
    height: 530px;
    position: fixed;
    color:#ffffff;
    top: 20%;
    left: 30%;
    background-color: rgb(0, 0, 0);
    box-shadow:  0 0 7px #a0a09f, 0 0 10px #f3edd9,0 0 21px #d6c99d,
    0 0 42px rgb(250, 222, 145),
    0 0 82px #f1e391,
    0 0 92px #f1e391,
    0 0 102px #f1e391,
    0 0 151px #f1e391;
    border-radius: 15px;
    z-index: 100;
  }
  .create_edit_modal_title {
    display: flex;
    align-self: center;
    margin:2% auto;
}

  .modal_form > label {
    font-size:18px;
    font-weight: 700;
    display: inline-block;
    padding: 10px 0 10px 0;
    opacity: 0.7;
    cursor: pointer;
    position: relative;
  }

  .modal_form > input {
    border: none;
    outline: none;
    height: 25px;
    width: 450px;
    font-size: 18px;
    padding-left: 20px;
    border-radius: 15px;
    cursor: pointer;
    }

    #favorite {
    width: 50px;
    }

  .modal_form > textarea {
    border:none;
    font-size: 18px;
    padding-left: 15px;
    height: 40px;
    width: 450px;
    resize:vertical;
    border-radius: 20px;
  }
  .button_form_submit {
    display: block;
    width: 200px;
    height: 65px;
    margin:0 auto;
    background-image: url("images/OK.gif");
    background-color: #000000;
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 20px;
    cursor: pointer;
  }
  .button_form_close {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('images/close.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position: absolute;
    cursor: pointer;
    top: -15px;
    right: -20px;
  }
  /*Модальное окно- Посмотреть кота*/
  .cardView_popup {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .cardView {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 100;
    width: 550px;
    height: 500px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    padding: 15px;
    color:#ffffff;
    background-color: #000000;
    box-shadow:  0 0 7px #ffb3b3, 0 0 10px #ffb8b8,0 0 21px #ffa0a0,
    0 0 42px rgb(255, 0, 0),
    0 0 82px #ff0000,
    0 0 92px #ff0000,
    0 0 102px #ff0000,
    0 0 151px #ff0000;
  }

  .cardView_image {
    width: 550px;
    height: 450px;
    margin-top: 20px;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .cardView_content {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    line-height: 2;
    width: 250px;
    position: relative;
  }
  .card_name{
    font-size: 20px;
    font-weight: 700;
  }
  .card_description,
  .card_rate,
  .card_age{
    font-size: 16px;
    font-style: italic;
  }
  .cardView_exit {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('images/close.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position: absolute;
    top: -40px;
    right: -35px;
    cursor: pointer;
    z-index: 100;
  }

  /*подвал*/
  .footer {
    overflow: hidden;
    position:static;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: var(--bg-color);
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}
